.App {
  text-align: center;
}


.navbar-header
{
  background-color: #13265C;
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo
{
  color: white;
  margin: 0;
}

.sign_in_card
{
  border: 2px solid #13265C;
  width:50%;
  height:60vh;
  margin: 0 auto;
  
}



.sign_in_container{
  padding-top: 50px;
}
.account_div
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign_in_ta
{
  padding: 10px;
  border:2px solid;
  width: 70%;
  border-color: #13265C;
}


.button_div
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 50px;
  gap:50px;
}

.buttons
{
  width: 125px;
  border-radius: 50px;
  border: none;
  padding: 10px;
  background-color: #13265C;
  color: white;
}

.buttons:hover
{
  cursor: pointer;
}


.sign_up
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.sign_up_container
{
  border: #13265C solid thin;
  width:50%;
}

.buttons_div
{
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap:30px;
}

.error
{
  color: red;
  display: none;
}

.list
{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-container
{
  background-color: aquamarine;
}

.greeting
{
  text-align: left;
  padding-left: 10%;
}

.class_headers
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.class_name
{
  border:5px solid black;
  width: 150px;
}

.current_grade
{
  border:5px solid black;
  border-left: 0px;
  width: 150px;
}
.classes
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.classes_scroll
{
  height: 300px;
  width: 310px;
  background-color: bisque;
}

.add_class_grade
{
  padding-bottom: 20px;
}